/* Clear Fix */
.fs:before, .fs:after {
    content: "";
    display: table;
}
.fs:after {
    clear: both;
}
.sekil img {
  margin-right: 10px; 
}
.pj {
  width: 105%;
  text-align: center;
  
}
/* Style */
body, section {
  transition: .5s;
}
.link-active {
  color: black;
}
.darkMode {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  position: fixed;
  top: 30vh;
  left: 20px;
}
.darkMode p{
  opacity: 0;
  font-family: comic;
  font-weight: bold;
}
.darkMode:hover {
  transition: 1s;
}
.darkMode:hover p{
  opacity: 1;
  transform: translateX(100%) translateY(10px);
}
.sun {
  background-image: url(img/sun.jpg);
  background-size: cover;
  background-position: center;
}
.moon {
  background-image: url(img/moon.jpg);
  background-size: cover;
  background-position: center;
}
#bingkai {
  position: relative;
}
#bingkai img{
  
  animation: spin 4s infinite;
  transition: 1s;
}
#bingkai:hover img {
  filter: saturate(200%)
  /*transform: rotate(180deg);*/
}
#sider {
  transform: scale(0);
}
@keyframes spin {
  0% {
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  }
  25% {
  border-top: 3px solid red;
  border-right: 3px solid red;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  }
  50% {
  border-top: 3px solid white;
  border-right: 3px solid red;
  border-bottom: 3px solid red;
  border-left: 3px solid white;
  }
  75% {
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid red;
  border-left: 3px solid red;
  }
  100% {
  border-top: 3px solid red;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 3px solid red;
  }
}
body {
    background-color: #AD5AA2;
}
select {
    text-align: center;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    transition: 0.5s;
}
/* clear link */
.img-center,.center{
    text-align: center;
}
.hobby img {
    border-radius: 20px;
}
#rem:hover {
    background-color: #fff;
}
.tag {
    width: 80px;
    background-color: #fff;
    border: solid 1px #000;
}
.tag img {
    width: 80;
    height: 80px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #FF4630;
    font-family: Roboto,Arial;
}
a:hover {
    text-decoration: underline;
    color: salmon;
}
.tag h1 {
  font-family: sans-serif;
  margin: 0px 5px;
}
nav h1 {
    font-family: Pacifico,cursive;
}
p,a,h3 {
    font-family: New Tegomin,serif;
}
.skill img {
    background-color: #fff;
}
h1 {
    font-family: Akaya kanadaka,cursive;
}
nav h1:hover {
    text-shadow: 3px 3px salmon;
}
.hobby:hover, .portfolio:hover{
    background-color: salmon;
    color: #fff;
}
/* for Mobile */
@media screen and (max-width: 500px){
#sider {
       opacity: 0;
       display: block;
}
nav {
        position: fixed;
        z-index: 9999;
        background-color: #19BCFF;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 10px;
}
nav h1{
        font-size: 20px;
        float: left;
        position: relative;
        top: 15;
        left: 20;
        color: #fff;
        z-index: -3
}
.conme {
    position: absolute;
    z-index: 999;
    top: 100px;
    height: auto;
    right: 0;
    left: 0;
    background-color: #19BCFF;
    text-align: center;
    padding: 60px;
    display: none;
    box-sizing: border-box;
}
 .conme .tag {
   display: inline-block;
 }
.conme h1,h2 {
    font-size: 15px;
    margin-bottom: 15px;
    display: block;
}
#rem {
  position: absolute;
  right: 20px;
}
.menu {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    float: right;
    top: 10;
    right: 20;

}
.menu span {
    background-color: #fff;
    width: 20px;
    height: 5px;
    display: block;
    margin: 3px;
    border-radius: 3px;
    Top: 10;
}
.menu1 {
    position: absolute;
}
.menu2 {
    display: none;
    position: static;
    padding: 0;
    margin: 0;
}
/* burger */
.menu1 span:nth-child(1){
    transform-origin: 0 0;
}
.menu1 span:nth-child(3){
    transform-origin: 0 0;
}
/* */
.menu1:hover span:nth-child(1){
    transform: rotate(45deg) translate(3px,-2px);
}
.menu1:hover span:nth-child(3){
    transform: rotate(-45deg) translate(1px,-1px);
}
.menu1:hover span:nth-child(2){
    transform: scale(0);
}
.menu1 .satu {
    transform-origin: 0 0;
}
.menu1 .tiga {
    transform-origin: 0 0;
}
/* kedua */
.menu2 span:nth-child(1){
    transform-origin: 0 0;
}
.menu2 span:nth-child(3){
    transform-origin: 0 0;
}
/* */
.menu2:hover span:nth-child(1){
    transform: rotate(45deg) translate(0px,-3px);
}
.menu2:hover span:nth-child(3){
    transform: rotate(-45deg) translate(-2px,1px);
}
.menu2:hover span:nth-child(2){
    transform: scale(0);
}
.menu2 .satu {
    transform-origin: 0 0;
    transform: rotate(45deg) translate(3px,-2px);
}
.menu2 .dua {
    transform: scale(0);
}
.menu2 .tiga {
    transform-origin: 0 0;
    transform: rotate(-45deg) translate(1px,-1px);
}
.slider {
    position: absolute;
    right: 0;
    z-index: -2;
    width: 80%;
    height: 100vh;
    background-color: #19BCFF;
    display: none;
    box-sizing: border-box;
    transform: translateX(100%);
}
.slider ul li:nth-child(1) {
  border-top: solid 1px black;
}
.slider ul li {
    padding: 20px;
    list-style-type: none;
    font-size:18px;
    border-bottom: solid 1px black;
}
.slider ul {
    margin-top: 10px;
}
.slider ul li:hover{
    text-align: center;
    background: #24F9FF;
    color: #fff;
    padding: 20px 0;
    border-radius: 30px;
    transition: 0.3s;
    position: relative;
    box-shadow: 0px 0px 20px black;
    box-sizing: border-box;
    border: solid .5px #FF6D6D;
}
.slider ul li:hover a {
    background: none;
    width: 100%;
    display: inline-block;
}
.slider img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    margin: 50 10 0 0;
}
.top-nav {
  margin-bottom: 50px
}
.profile {
    width: 100%;
    height: 400px;
    padding: 0px 50px;
    box-sizing: border-box;
    text-align: center;
    background-color: #0737FF;
    border-radius: 0px 0px 50px 50px;
}
.profile img{
    width: 80px;
    height: 80px;
    margin-top: 55px;
    border-radius: 50%;
}
.profile h1 {
    font-size: 15px;
    color: #FF53EF;
    margin-top: 10px;
}
.profile p {
    color: #fff;
    text-align: justify;
    font-size: 18px;
    margin: 10;
}
#region {
  position: absolute;
  left: 53%;
  bottom: -10px;
  font-size: 30px;
}
.img-page1{
    width: 50%;
    float: left;
}
.img-page2{
    float: right;
    width: 50%;
}
.hobby {
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 50px;
}
.sekil img {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 15;
    border-radius: 10px;
}
.sekil p{
    color: #FFF;
}
.sekil {
    padding: 0px;
    margin-bottom: 10px;
}
.skill h1 , .contact h1{
    text-align: center;
    margin-bottom: 10px;
}
.hobby, .skill {
    padding: 50px;
}
.hobby h1{
    margin-bottom: 10px;
}
.hobby h3{
    font-size: 10px;
    margin-bottom: 10px;
}
.hobby img{
    width: 100px;
    height: 100px;
}
.skill {
    width: 100%;
    padding: 50px;
    background-color: #0737FF;
    box-sizing: border-box;
    border-radius: 50px;
}
.portfolio {
    width: 100%;
    background-color: #fff;
    box-shadow: border-box;
    border-radius: 50px;
    margin-bottom: 20px;
    text-align: center;
    padding: 50px 0px;
}
.portfolio h1 {
    margin-bottom: 10px;
}
.portfolio .items{
    width: 55%;
    height: 300px;
    margin: auto;
    margin-bottom: 10px;
    border: solid 3px #555;
}
.items a {
    color: #00D460;
}
.items a:hover {
    color: skyblue;
}
.items:hover, .item img:hover{
    background-color: #4720FF;
    filter: saturate(150%);
}
.items img {
    width: 90%;
    height: 80%;
    padding: 5px;
}
.contact {
    width: 100%;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #0737FF;
}
section {
    margin-bottom: 20px;
}
footer {
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 0px;
}
.medsos img{
    width: 15px;
    height: 15px;
    background-color: #eee;
    border-radius: 50%;
}
.contact {
    padding: 50px;
}
.contact h1 {
    text-align: center;
}
/* form */
form {
    width: 100%;
    box-sizing: border-box;
}
.form-group,.form-control {
    width: 95%;
    color: salmon;
}
.contact form {
    border: solid 1px #eee;
}
textarea {
    background-color: #0737FF;
}
input {
    background-color: #0737FF;
}
label {
    padding: 5px;
}
.contact form select{
    background-color: #0737FF;
}
button {
    padding: 10px;
    margin-top: 10px;
    background-color: salmon;
    outline: none;
    font-family: cursive;
}
button:hover {
    outline: none;
    border-radius: 20px;
}
.form-control {
    padding: 10px;
    text-align: center;
}
.form-group label {
    font-size: 12px;
    width: 40%;
}
.form-group input{
    padding: 10px;
    width: 60%;
}
#sider2 {
    display: none;
}
}
/* For Tablet */
@media screen and (min-width: 600px){
    nav {
        position: fixed;
        background-color: #19BCFF;
        width: 100%;
        height: 80px;
        z-index: 999;
        box-sizing: border-box;
    }
    nav h1 {
        font-size: 25px;
        padding: 25px;
        width: 25%;
        float: left;
        color: #fff;
    }
    .hobby h3{
    font-size: 15px;
    margin-bottom: 10px;
    }
    .menu {
        display: none;
    }
    .darkMode {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #000;
      position: fixed;
      top: 30vh;
      left: 20px;
    }
    .darkMode p {
      opacity: 0;
      font-size: 20px;
      font-family: comic;
      font-weight: bold;
    }
    .conme {
    position: absolute;
    z-index: 999;
    top: 100px;
    height: 100%;
    right: 0;
    left: 0;
    background-color: #02B1FFF2;
    text-align: center;
    padding: 60px;
    display: none;
    box-sizing: border-box;
    }
    #rem {
      position: absolute;
      right: 10%;
      font-size: 30px;
    }
    .tag {
      display: inline-block;
      width: auto;
    }
    .tag h1 {
      font-size: 15px;
    }
    .conme h1,.conme h2 {
    font-size: 30px;
    margin-bottom: 15px;
    display: block;
    margin-top: 10px;
    }
    .slider {
        float: left;
        width: 65%;
        transform: translateX(0%);
    }
    #sider {
        transform: translateX(-500%);
        display: none;
        background-color: #000;
    }
    .slider h1, .slider img {
        display: none;
    }
    .slider ul {
        width: 100%;
        margin: 25px;
    }
    .slider ul li {
        display: inline-block;
    }
    .slider ul li a {
        display: inline-block;
        padding: 5px;
    }
    .slider ul li:hover a {
        background-color: #24F9FF;

    }
    .profile {
        width: 100%;
        color: #0737FF;
        box-sizing: border-box;
        background-color: blue;
        padding: 30px;
        margin-bottom: 20px;
    }
    .profile h1 {
        font-size: 20px;
        color: #fff;
    }
    .profile img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 15px;
    }
    .profile .left {
        float: left;
        text-align: center;
        width: 60%;
        margin-top: 120px;
    }
    .profile .right {
        width: 30%;
        margin-top: 120px;
        float: right;
        color: #fff;
        text-align: center;
    }
    #region {
         position: absolute;
         left: 53%;
         bottom: 10px;
         font-size: 30px;
    }
    .hobby, .skill , .contact {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        padding: 20px;
        box-sizing: border-box;
    }
    .hobby h1, .skill h1 , .contact h1 {
        margin-bottom: 50px;
    }
    .hobby img,.skill img,.contact img{
        width: 60px;
        height: 60px;
    }
    .hobby .img-page1,.hobby .img-page2{
        width: 48%;
        float: left;
    }
    .skill {
        background-color: blue;
        box-sizing: border-box; 
    }
    .hobby,.portfolio {
        background-color: #fff;
    }
    .hobby img{
      text-align: center;
      width: 100px;
      height: 100px;
    }
    .hobby h3{
      font-size: 18px;
    }
    .jsection {
      margin-bottom: 50px;
    }
    .pj {
      display: none;
    }
    .items:hover {
      position: relative;
    }
     .items:hover img{
       position: absolute;
       z-index: 1;
     }
    .items:hover .pj {
      z-index: 9999;
      position: absolute;
      text-align: center;
      display: block;
      background-color: yellow;
      left: 0;
      right: 0;
      width: 108%;
    }
    .sekil {
        color: #fff;
        width: 45%;
        float: left;
        font-size: 20px;
        text-align: left;
        box-sizing: border-box;
        margin: 15px;
    }
    .sekil img {
        float: left;
        margin-right: 10px;
        width: 100px;
        height: 100px;
    }
    .skill p{
        float: left;
    }
    /* form */
.form-group,.form-control {
    width: 90%;
    color: salmon;
    border-bottom: solid 1px #eee;
}
.contact {
    padding: 80px;
    background-color: #0737FF;
}
.contact form {
    border: solid 1px #eee;
    width: 90%;
    margin: auto;
}
.skill, .hobby {
    padding:  80px;
    box-sizing: border-box;
}
input,textarea,label {
    border: none;
    background-color: #0737FF;
}
label {
    padding: 5px;
}
.contact form select{
    background-color: #0737FF;
}
button {
    padding: 10px;
    margin-top: 10px;
    background-color:salmon;
    outline: none;
    font-family: cursive;
}
button:hover {
    outline: none;
    border-radius: 20px;
}
.form-control {
    padding: 10px;
    text-align: center;
}
.form-group label {
    font-size: 12px;
    width: 40%;
}
.form-group input{
    padding: 10px;
    width: 60%;
}
.medsos img{
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: #eee;
    border-radius: 50%;
}
.hobby:hover, .portfolio:hover{
    background-color: salmon;
    color: #fff;
}
.portfolio {
    width: 100%;
    background-color: #fff;
    box-shadow: border-box;
    margin-bottom: 20px;
    text-align: center;
    padding: 80px 0px;
    align-items: center;
}
.portfolio h1 {
    margin-bottom: 10;
    width: 100%;
}
.portfolio .items{
    width: 200px;
    height: 350px;
    margin-left: 25px;
    margin-bottom: 60px;
    float: left;
    box-sizing: border-box;
}
.items:hover img, .items:hover {
    background-color: yellow;
    filter: saturate(150%);
    z-index: 1;
    position: relative;
}
.items img {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: solid 3px #555;
}
footer {
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
}
}
/* disable copy paste */
* {
  -webkit-touch-callout: none; /* ilS Safari */  -webkit-user-select: none; /* Safari */  -khtml-user-select: none; /* Konqueror HTML */  -moz-user-select: none; /* Old versions of Firefox */  -ms-user-select: none; /* Internet Explorer/Edge */  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */}
